spring:
  datasource:
    url: 'jdbc:mysql://localhost:3306/calorie_composer'
    username: <username>
    password: <password>
  jpa:
    generate-ddl: false

foodDataCentral:
  apiEndpoint: https://api.nal.usda.gov/fdc/v1/
  apiKey: <api key>
